@import '_reset.css';
@import 'global.css';

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: var(--background);
}

.navbar {
  background: #21262d;
  padding: 32px;
  border-bottom: 1px solid var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  gap: 16px;
}

ul li a {
  color: var(--white);
  text-decoration: none;
  transition: .2s;
}

ul li a:hover {
  color: var(--color-four);
}

#wrapper {
  text-align: center;
  padding: 32px;
}

#wrapper img {
  width: 200px;
  border-radius: 50%;
  border: 3px solid var(--color-four);
  margin-bottom: 32px; 
}

#wrapper h1 {
  font-size: 28px;
  line-height: 52px;
  color: var(--color-three);
  font-weight: bold;
}

#wrapper h2 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 8px;
  color: var(--color-two);
}

#wrapper p {
  max-width: 500px;
  margin: 32px auto;
  font-size: 16px;
  color: var(--color-three);
  line-height: 26px;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.links li {
  background-color: var(--color-one);
  padding: 10px 12px;
  border-radius: 4px;
  transition: .2s;
}

.links li:hover {
  transform:scale(1.1)
}
