@import url('./variables.css');

.header {
    padding: 32px;
    border-bottom: 1px solid black;
    background: rgba(0, 0, 0, 0.1);
}

header ul {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

header ul li a {
    text-decoration: none;
    color: var(--color-four);
    font-size: 16px;
    transition: 200ms;
}

header ul li a:hover {
    color: var(--color-five);
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

#wrapper img {
    border-radius: 50%;
    width: 150px;
    border: 2px solid var(--color-five);
    margin-bottom: 1rem;
}

#wrapper h1 {
    font-size: 32px;
    line-height: 42px;
    color: white;
}

#wrapper h2 {
    font-size: 16px;
    margin: 10px 0;
    font-weight: 300;
}

#wrapper p {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 16px;
}

.curriculo {
    position: relative;
    text-decoration: none;
    padding: 10px 30px;
    margin: 32px 0;
    color: var(--color-five);
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.3s;
}

.curriculo::before {
    content: " ";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--color-five);
    border-left: 2px solid var(--color-five);
    transition: 0.3s;
    transition-delay: 0.3s;
}

.curriculo::after {
    content: " ";
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--color-five);
    border-right: 2px solid var(--color-five);
    transition: 0.3s;
    transition-delay: 0.3s;  
}

.curriculo:hover::before,
.curriculo:hover::after {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}

.curriculo:hover {
    background: var(--color-five);
    color: white;
    box-shadow: 0 0 50px var(--color-five);
    transition-delay: 0.3s;
}