@media screen and (min-width: 768px) {
    .home__button {
        width: initial;
    }

    .nav__menu {
        width: var(--nav-width);
    }

    .about__container,
    .skills__container,
    .contact__container,
    .projects__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .about__data {
        text-align: initial;
    }

    .about__description {
        margin-bottom: var(--mb-5);
    }

    .about__information {
        padding-left: 4rem;
    }

    .footer {
        background: none;
    }

    .footer__container {
        background-color: var(--first-color-darken);
        padding: 3rem 0;
        border-radius: .5rem;
    }

}

@media screen and (min-width: 1024px) {
    body {
        margin: 0;
        padding-left: var(--nav-width);
    }

    .l-header {
        width: 0;
    }

    .nav__toggle, .nav__logo, .nav__close {
        display: none;
    }

    .nav__menu {
        left: 0;
    }

    .home__container {
        height: 100vh;
    }

    .section {
        padding: 3rem 0 2rem;
    }

    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }

    .projects__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .skills__content {
        grid-column: 1 / 3;
    }
}